<a href="https://colab.research.google.com/github/elonsquidion/tubes-analisis-data/blob/main/Data_Analisis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TUGAS DATA ANALISIS PENGENALAN KOMPUTASI KU-1103 (SOTAU)

<h3 style="text-align:center">Kelompok 13</h3>
  
| Nama | NIM |  
| --- | --- |  
| Muhammad Fikri | 1301194182 |  
| Muhammad Fikri | 1301194182 |  
| Muhammad Fikri | 1301194182 |  
| Muhammad Fikri | 1301194182 |  
| Muhammad Fikri | 1301194182 |  
| Jihan | 1301194182 |   

Sebuah pesan untuk mengetes sesuatu

In [14]:
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
data_funding = pd.read_csv('https://raw.githubusercontent.com/elonsquidion/tubes-analisis-data/main/tech_fundings.csv')
data_funding

,index,Company,Website,Region,Vertical,Funding Amount (USD),Funding Stage,Funding Date
0,1,Internxt,https://internxt.com/,Spain,Blockchain,278940,Seed,Jan-20
1,2,Dockflow,https://dockflow.com,Belgium,Logistics,292244,Seed,Jan-20
2,3,api.video,https://api.video,France,Developer APIs,300000,Seed,Jan-20
3,4,Buck.ai,https://buck.ai/,United States,Artificial Intelligence,300000,Seed,Jan-20
4,5,Prodsight,https://www.prodsight.ai,United Kingdom,Artificial Intelligence,529013,Seed,Jan-20
...,...,...,...,...,...,...,...,...
3570,3571,Headout,https://www.headout.com,United States,Travel,12000000,Series B,Sep-21
3571,3572,OLIO,https://olioex.com/,United Kingdom,Wellness,43000000,Series B,Sep-21
3572,3573,Trees for Life,https://treesforlife.org.uk,United Kingdom,Wellness,2737468,Crowdfunding,Sep-21
3573,3574,Britishvolt,https://britishvolt.com/,United Kingdom,Wellness,70000000,Series B,Sep-21
3574,3575,Greenly,https://www.greenly.earth/,France,Wellness,2953675,Seed,Sep-21

In [12]:
data_merger = pd.read_csv('https://raw.githubusercontent.com/elonsquidion/tubes-analisis-data/main/acquisitions_update_2021.csv', on_bad_lines='skip')
data_merger

,ID,Parent Company,Acquisition Year,Acquisition Month,Acquired Company,Business,Country,Acquisition Price,Category,Derived Products
0,1,Apple,1988,Mar,Network Innovations,Software,-,-,-,-
1,2,Apple,1988,Jun,Orion Network Systems,Computer Software,-,-,-,-
2,3,Apple,1988,Jun,Styleware,Computer software,-,-,-,-
3,4,Apple,1988,Jul,Nashoba Systems,Computer software,-,-,-,-
4,5,Apple,1989,Jan,Coral Software,Computer software,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...
1450,1451,Citrix,2015,Apr,Grasshopper,Telephone services,United States,-,-,"GoToMeeting, GoToTraining, GoToWebinar, ShareF..."
1451,1452,Citrix,2016,Sep,Norskale,UEM and application performance optimization,France,-,-,"XenApp, XenDesktop"
1452,1453,Citrix,2017,Jan,Unidesk,-,United States,-,-,"XenApp, XenDesktop"
1453,1454,Citrix,2018,Feb,Cedexis,Intelligent traffic management,France,-,-,Citrix ITM
1454,1455,Citrix,2021,Mar,Wrike,Project management,United States,-,-,Citrix Workspace